.form-container{
    border:1px solid black;
    width:400px;
    margin:20px auto;
    border-radius: 10px;
    padding:20px;
    background-color: white;
}
.input{
    font-size: 20px;
    width: 300px;
    padding: 10px;
    
}
.btn{
    margin-bottom: -2px;
   
    display: block;
    padding: 10px;
    background-color:#e3b76a;
    color: #000;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}
.btn:hover{
    background-color: #8f2407;
    color: white;
    border-radius: 5px;
    transition: 0.5s;
}
