.w-35{
    width: 380px;
}
a:hover{
    color: black;
}
.link:hover{
    color: black;
}
button{
    background-color: #e3b76a;
}
button:hover{
    background-color: #fdfcd4;
}
.card-col{
    background-color: #fff;
}